.videoSize {
    width: 100%;
}
.card{
    width: 70%;
}
video {
    width: 100%;
}

input[type=file] {
    margin: 0 auto;
    width: 500px;
}

body {
    font-family: 'Segoe UI';
    background-color: blueviolet;
}

button {
    font-weight: 400;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: slideIn 4s ease forwards;
}
.custom-btn-block {
    width: 100%;
}